.shop_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .shop_title {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;

    @media screen and (max-width: 600px) {
      font-size: 1.7rem;
      text-align: center;
    }
  }
}
