.collection_content{
  position: relative;
  width: 100%;
  height:27rem ;


  .collection_img {
    width: 100%;
    height: 85%;
    background-size: cover;
    background-position: center;
    }

  >span {
    position: absolute;
    top:50%;
    left: 50%;
    width: max-content;
    background-color: white;
    color: purple;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: .5rem 1.1rem;
    opacity: .8;
    display: none;
    transform: translate(-50%, -50%);
  }

  &:hover {
    opacity: .8;

      >span{
        display: block;
        transition: background-position 0.5s ease;
        cursor: pointer;

        &:hover{
          // background-color: black;
          background: linear-gradient(to right, black, purple);
          background-position: 50% 0;
          color: white;
          opacity: 1;
        }
      }

  }



    .collection_footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: solid;
      font-style: italic;
      height: 10%;
      width: 100%;
      background-color: rgb(244, 240, 240);

      >span:first-child{
        width: 80%;

      }
      >span:last-child{
       width: 20%;
       text-align: end;
      }
    }
}



@media screen and (max-width:600px) {
  .collection_content {
    height: 14rem;
  }
}