@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  margin: 0;
  padding: 0;
}

body {
  padding: 7rem 15rem 2rem;
  font-family: Open sans, sans serif;

  @media screen and (max-width: 1200px) {
    & {
      margin: 7rem 1.1rem;
      padding: 2rem 4rem 1rem;
    }
  }
  @media screen and (max-width: 600px) {
    & {
      margin: 4rem 0rem;
      padding: 2rem 2.5rem 1rem;
    }
  }
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
